
image{
    height: 300px;
    width: 300px;
}

body {
    background: url(../Images/1294333.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.Text {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}